    <footer>
        <div class="footcont">
            <div class="grid1">
                <h6>Sections</h6>
                <h6>Our Company</h6>
            </div>
            <div class="grid2">
                <ul class="grid2deta">
                {% for categ in categories %}
                    <li><a href="{% url 'category_resume' categ.name%}">{{ categ.name }}</a></li>
                {% endfor %}
                </ul>
                <ul class="grid2deta">
                    <li><a href="#">About Jalocs</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
    
                </ul>
            </div>
            <div class="copyright">
                <p>Developed by Jalocs. 2014.</p>
                <p>Some rights reserved. Creative Commons CC BY-NC-SA 2.5.</p>
            </div>
       </div>
    </footer>
</body>
</html>
